doctype html
html
    head
        title Einkaufswagen
        link(rel='stylesheet', tpye='text/css', href='css/shoppingcard.css')
    body
        div(class='shopping-cart')
            div(class='title')
            each item in items
                div(class='item')
                    div(class='buttons')
                        span(class='delete-btn')
                        span(class='like-btn')
                    div(class='image')
                        img(src='images/item-1.png', alt='')
                    div(class='description')
                        span(class=#[item.description])
                    div(class='quantity')
                        button(class='plus-btn', type='button', name='button')
                            img(src='images/plus.svg', alt='')
                        input(type='text', name='name', value='1')
                        button(class='minus-btn', type='button', name='button')
                            img(src='images/minus.svg', alt='')
                    div(class='total-price') 42,69 €
        script(type="module", src='script/shoppingBag.js')