doctype html
html
    head
        title Login
        link(rel='stylesheet', href='/css/login.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .modal(id='modalHandle')
           form(class='modal-content animate', action='/login/submit', method='post')
                .container()
                    input(type='text', placeholder='Email', name='email', required)
                    input(type='password', placeholder='Passwort', name='psw', required)
                    button(type='submit') Login
                .container()
                    a(href='/password_recovery') Passwort vergessen?
        script(type="module", src='/script/login.js')