* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: auto;
    background-color: gray;
    min-height: 942px;
    margin: 0 auto;
}

.container {
    width: 1000px;
    height: auto;
    min-height: 50px;
    /*ACHTUNG!!!*/
    margin: 0 auto;
}

.topbar {
    width: 100%;
    height: 4px;
    background-color: #fcc508;
}

.iconBar {
    width: 100%;
    height: 33px;
    background-color: #2a2b2c;
    float: left;
}

.login_register {
    height: auto;
    float: left;
}

.login_register a {
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    line-height: 33px;
    width: auto;
    margin-right: 8px;
    margin-left: 4px;
}

.login_register a:hover {
    opacity: 0.7;
}

#loginBtn {
    margin-left: 14px;
}

.login_register img {
    margin-top: 3px;
    cursor: pointer;
    float: left;
}

.cart {
    width: 112px;
    height: 50px;
    background-color: #fcc508;
    float: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.cart a {
    color: #cc3333;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#totalAmount {
    margin-left: 10px;
    margin-bottom: 4px;
}

.cart img {
    margin-top: 10px;
    margin-left: 5px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart {
    width: 1000px;
    height: auto;
    margin: 80px auto;
    background: #FFFFFF;
    border-radius: 6px;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 24px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 150px;
    display: flex;
}

.item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.delete-btn {
    padding-top: 60px;
    margin-right: 60px;
    display: inline-block;
    Cursor: pointer;
    background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}

.delete-btn img {
    width: 21px;
    height: 21px;
}

.delete-btn img:hover {
    opacity: 0.7;
}

.image {
    margin-right: 50px;
}

.image img {
    width: 150px;
    height: 150px;
}

.description {
    padding-top: 60px;
    margin-right: 60px;
    width: 160px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    padding-top: 60px;
    margin-right: 60px;
    margin-left: 10px;
}

#productCount {
    margin-left: 17px;
    margin-right: 17px;
}

button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.price {
    margin-left: 75px;
    padding-top: 60px;
    text-align: center;
    font-size: 22px;
    color: #43484D;
    font-weight: 300;
}